---
layout: default
---
<div class="under-construction-container" style="background-image: url('{{ site.baseurl }}/{{ page.background }}');  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;">
    <div class="under-construction-content">
        <h1 style="font-family: Playfair Display; font-weight: normal">{{ site.data.couple.spouse1.short_name }} & {{ site.data.couple.spouse2.short_name }}</h1>
        <span>Více informací už brzy...</span>
    </div>
</div>